langchain
langchain-core
langchain-anthropic
pydantic
pymongo
pymupdf
python-dotenv
setuptools
streamlit
langchain-text-splitters
langsmith
langchain-experimental
langchain-community
secure-smtplib
python-jose[cryptography]
openai
numpy
pandas
spacy
